.btn {
	border-radius: 0px;
}
.btn-shadow {
	box-shadow: 1px 3px 1px 0px #d3d3d3;
}

.dropdown-menu {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 9px;
  border-top: 2px solid orange;
}
.dropdown-item {
  color: #ffffff;
}

.card {
	border-radius: 0px;
	border: none;
	box-shadow: 1px 1px 1px 1px #e6e6e6;
}

.card-img-top {
	border-radius: 0px;
}

.card-wrapper {
  position: relative;
  overflow: hidden;
}

.card-wrapper:after {
  content: '';
  display: block;
  padding-top: 65%;
}

.card-wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}